In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
import numpy as np

data = np.array(['rawan', 'amal', 'may'])
ser = pd.Series(data, index=[1, 2, 3])
print(ser)

1    rawan
2     amal
3      may
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
ser.index = list([11,12,13])
print('Series with new index')
print(ser)

Series with new index
11    rawan
12     amal
13      may
dtype: object

## Q3: Retrieve First and second elements.

In [16]:
print(ser[11])
print(ser[12])

rawan
amal

## Q4: Add duplicate elements, then remove the duplication

In [18]:
ser = ser.append(pd.Series("amal", index=[101]))
print(ser)

11     rawan
12      amal
13       may
101     amal
101     amal
dtype: object

C:\Users\Rawan\AppData\Local\Temp\ipykernel_26208\1280684544.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser = ser.append(pd.Series("amal", index=[101]))

In [21]:
ser = ser.drop_duplicates()
print(ser)

11    rawan
12     amal
13      may
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [22]:
 students = [['amal', 1 ],
            ['rawan', 2],
            ['may', 3]]

df = pd.DataFrame(students,
                  columns=['Name', 'ID'],
                  index=['a', 'b', 'c'])
print(students)

[['amal', 1], ['rawan', 2], ['may', 3]]

## Q6: Read educ_figdp_1_Data.csv file

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references

In [23]:
df= pd.read_csv('educ_figdp_1_Data.csv')

In [25]:
df

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e
...,...,...,...,...,...
379,2007,Finland,Total public expenditure on education as % of ...,5.90,NaN
380,2008,Finland,Total public expenditure on education as % of ...,6.10,NaN
381,2009,Finland,Total public expenditure on education as % of ...,6.81,NaN
382,2010,Finland,Total public expenditure on education as % of ...,6.85,NaN
383,2011,Finland,Total public expenditure on education as % of ...,6.76,NaN

In [26]:
df_new = df.loc[:, 'TIME']
df_new

0      2000
1      2001
2      2002
3      2003
4      2004
       ...
379    2007
380    2008
381    2009
382    2010
383    2011
Name: TIME, Length: 384, dtype: int64

In [27]:
df_slice = df[1:3]
df_slice

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e